* {
    box-sizing: border-box;
}

p, body {
    margin: unset;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @media (min-width: 1024px) {
        flex-direction: row;
        column-gap: 40px;
    }
}






































































